<!doctype html>
<html lang="en" class="no-js">

<head>
  {{> components/head.hbs }}
</head>

<body id="top">
  <div id="page" class="s-pagewrap">
    {{> components/header.hbs }}
    {{> components/pageHeader.hbs }}

    <section class="s-pagecontent pagecontent">
      <div class="row pageintro">
        <div class="column xl-6 lg-12">
          <h2 class="text-display-title">{{inspiration.heading}}</h2>
        </div>
        <div class="column xl-6 lg-12 u-flexitem-x-right">
          <p class="lead">
            {{inspiration.content}}
          </p>
        </div>
      </div>
      <!-- end pageintro -->

      <div class="row pagemedia">
        <d class="column xl-12">
          <figure class="page-media">
            <img src="{{inspiration.image}}" srcset="" sizes="(max-width: 2400px) 100vw, 2400px" alt="" />
          </figure>
        </d>
      </div>
      <!-- end pagemedia -->

      <div class="row width-narrower pagemain">
        <div class="column xl-12">
          <h2>How I Got Here</h2>
          <p>
            Eaque temporibus culpa perferendis expedita assumenda mollitia magnam. Lorem ipsum dolor sit amet consectetur
            adipisicing elit facilis voluptates voluptatum animi numquam quas ea praesentium quaerat maxime sunt odit inventore
            itaque est et autem sequi nulla. Distinctio obcaecati nesciunt asperiores dolorum tenetur voluptates, nemo alias
            doloremque. Quos cumque ipsum laudantium odio vero aut odit nostrum aliquam? Nostrum in facilis, minus fuga quasi
            voluptas explicabo possimus incidunt, expedita tempora eius rem nobis sequi. Doloribus esse sint suscipit quam nisi
            blanditiis voluptate explicabo.
          </p>

          <h2 class="u-add-bottom">My Values & Beliefs</h2>

          <div class="grid-list-items list-items">
            <div class="grid-list-items__item list-items__item u-remove-bottom">
              <div class="list-items__item-header">
                <h6 class="list-items__item-small-title">Honesty and Transparency</h6>
              </div>
              <p>
                I prioritize honesty and transparency in all my interactions, ensuring that my communications are clear and
                truthful. This builds
                trust and accountability, which are foundational to my professional and personal relationships.
              </p>
            </div>
            <div class="grid-list-items__item list-items__item u-remove-bottom">
              <div class="list-items__item-header">
                <h6 class="list-items__item-small-title">Fairness and Equality</h6>
              </div>
              <p>
                Fairness is paramount to me. I strive to make unbiased decisions, whether hiring or working within a team, ensuring
                that everyone is
                judged solely on their abilities and contributions, without regard to gender, race, age, or other irrelevant
                factors.
              </p>
            </div>
            <div class="grid-list-items__item list-items__item u-remove-bottom">
              <div class="list-items__item-header">
                <h6 class="list-items__item-small-title">Environmental Responsibility and Compassion for Animals</h6>
              </div>
              <p>
                I believe in making choices that minimize harm to the environment and show compassion for animals. While not
                militant, I advocate
                for practices that reduce our environmental footprint and prioritize humane treatment of animals.
              </p>
            </div>
            <div class="grid-list-items__item list-items__item u-remove-bottom">
              <div class="list-items__item-header">
                <h6 class="list-items__item-small-title">Creativity and Innovation</h6>
              </div>
              <p>
                I am at my best when I am creating. Whether it's developing new software tools or conceptualizing innovative
                solutions, the process
                of creation brings me joy and drives my professional endeavors.

              </p>
            </div>
            <div class="grid-list-items__item list-items__item u-remove-bottom">
              <div class="list-items__item-header">
                <h6 class="list-items__item-small-title">Giving Back and Mentorship</h6>
              </div>
              <p>
                I believe in giving back to the community, especially through open-source contributions and mentorship. By sharing
                my knowledge and
                experiences, I help others grow more quickly and contribute to the broader tech community.

              </p>
            </div>
            <div class="grid-list-items__item list-items__item u-remove-bottom">
              <div class="list-items__item-header">
                <h6 class="list-items__item-small-title">Analytical Thinking and Problem-Solving</h6>
              </div>
              <p>
                I value analytical thinking and a methodical approach to problem-solving. These traits enable me to dissect complex
                issues, identify
                root causes, and develop effective solutions, ensuring the success of the projects I undertake.

              </p>
            </div>

          </div>
          <!--grid-list-items -->

          <h2>Why Work With Me</h2>
          <p>With 30 years of experience, I've done it all—from help desk support and software development to networking and
            infrastructure,
            developer team leadership, systems architecture, and solutions development. My extensive background equips me with a
            comprehensive
            understanding of various aspects of technology and business.</p>

          <p>I have been user-focused long before terms like interface design and user experience design became popular. My
            compassion and
            empathy drive me to create solutions that truly meet the needs of users.</p>

          <p>My commitment to continuous learning means I never stop growing and evolving with the ever-changing technology
            landscape. This
            passion for discovery allows me to stay ahead of trends and deliver cutting-edge solutions.</p>

          <p>I excel at adjusting my language to effectively communicate with everyone, from the most neophyte to the most advanced
            individuals.
            Whether I'm engaging with senior executives or the C-Suite, I am very much at home, ensuring clear and effective
            communication at
            all levels.</p>

          <p>Choosing to work with me means partnering with someone who brings a wealth of experience, a user-centric approach, and
            the ability
            to navigate and thrive in the dynamic world of technology.</p>

          <h2>A Few More Words About Myself</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et assumenda debitis aut quidem ad voluptates quibusdam
            soluta temporibus, eveniet nobis tempore sunt, provident sapiente accusamus dignissimos voluptatum fugiat nulla
            dicta nihil molestiae aspernatur error in. Ut quo porro voluptatum delectus asperiores culpa non cum facere minima
            nesciunt assumenda, praesentium reprehenderit accusamus, quam repellat nobis nemo? Ut magnam unde culpa pariatur
            possimus sunt fugiat ea maxime praesentium eaque quo odio sed eligendi harum dolor, repellendus reprehenderit facere
            nihil quam. Saepe, magni.
          </p>
        </div>
        <!-- end grid-block-->
      </div>
      <!-- end pagemain -->
    </section>
    <!-- pagecontent -->

    <section class="s-testimonials">
      <div class="s-testimonials__header row row-x-center text-center">
        <div class="column xl-8 lg-12">
          <p class="text-pretitle">Testimonials</p>
          <h3>Reviews From Real Clients</h3>
        </div>
      </div>
      <!--end s-testimonials__header -->

      <div class="row s-testimonials__content">
        <div class="column xl-12 testimonials">
          <div class="swiper-container testimonials__slider page-slider">
            <div class="swiper-wrapper">
              <div class="testimonials__slide swiper-slide">
                <p>
                  Molestiae incidunt consequatur quis ipsa autem nam sit enim magni. Voluptas tempore rem. Explicabo a quaerat
                  sint autem dolore ducimus ut consequatur neque. Nisi dolores quaerat fuga rem nihil nostrum. Laudantium quia
                  consequatur molestias.
                </p>
                <div class="testimonials__author">
                  <img src="images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar" />
                  <cite class="testimonials__cite">
                    <strong>John Rockefeller</strong>
                    <span>Standard Oil Co.</span>
                  </cite>
                </div>
              </div>
              <div class="testimonials__slide swiper-slide">
                <p>
                  Voluptas tempore rem. Molestiae incidunt consequatur quis ipsa autem nam sit enim magni. Explicabo a quaerat
                  sint autem dolore ducimus ut consequatur neque. Nisi dolores quaerat fuga rem nihil nostrum. Laudantium quia
                  consequatur molestias.
                </p>
                <div class="testimonials__author">
                  <img src="images/avatars/user-04.jpg" alt="Author image" class="testimonials__avatar" />
                  <cite class="testimonials__cite">
                    <strong>Andrew Carnegie</strong>
                    <span>Carnegie Steel Co.</span>
                  </cite>
                </div>
              </div>
              <div class="testimonials__slide swiper-slide">
                <p>
                  Nisi dolores quaerat fuga rem nihil nostrum. Molestiae incidunt consequatur quis ipsa autem nam sit enim
                  magni. Voluptas tempore rem. Explicabo a quaerat sint autem dolore ducimus ut consequatur neque. Laudantium
                  quia consequatur molestias.
                </p>
                <div class="testimonials__author">
                  <img src="images/avatars/user-06.jpg" alt="Author image" class="testimonials__avatar" />
                  <cite class="testimonials__cite">
                    <strong>Henry Ford</strong>
                    <span>Ford Motor Co.</span>
                  </cite>
                </div>
              </div>
              <div class="testimonials__slide swiper-slide">
                <p>
                  Molestiae incidunt consequatur quis ipsa autem nam sit enim magni. Voluptas tempore rem. Explicabo a quaerat
                  sint autem dolore ducimus ut consequatur neque. Nisi dolores quaerat fuga rem nihil nostrum. Laudantium quia
                  consequatur molestias.
                </p>
                <div class="testimonials__author">
                  <img src="images/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar" />
                  <cite class="testimonials__cite">
                    <strong>John Morgan</strong>
                    <span>JP Morgan & Co.</span>
                  </cite>
                </div>
              </div>
            </div>
            <!-- end swiper-wrapper -->

            <div class="swiper-pagination"></div>
          </div>
          <!--end testimonials__slider -->
        </div>
        <!-- testimonials -->
      </div>
      <!--end s-testimonials__content -->
    </section>
    <!-- end s-testimonials -->
    </section>
    <!-- s-content-->

    <!-- # cta
        ================================================== -->
    <section id="cta" class="s-cta">
      <div class="row row-x-center text-center">
        <div class="column xl-8 lg-12">
          <div class="s-cta__content">
            <h2 class="text-display-title">Get started with a consultation today.</h2>
            <p class="lead">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis rem, esse doloribus sint eaque at debitis enim vitae
              minus expedita ratione dignissimos sit nostrum optio sequi. Ipsa at beatae quam.
            </p>
            <a href="contact.html" class="btn btn--primary">Let's Work Together</a>
          </div>
        </div>
      </div>
    </section>
    <!-- end s-cta -->

    {{>components/footer.hbs }}

  </div>

</body>

</html>