<!DOCTYPE html>
<html>

<head>
  <title>Troy Forster Uses...</title>
  <meta name="description" content="Troy Forster Uses..." />
  <meta name="view" content="/uses.html" />
  <meta name="keywords" content="" />
  {{> components/head.hbs }}
</head>

<body cz-shortcut-listen="true">
  {{> components/header.hbs }}

    <div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
      <div class="w3-display-middle" style="white-space:nowrap;">
        <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">Uses</span>
      </div>
    </div>

    <div class="w3-content w3-container w3-padding-64" id="about">
      <h3 class="w3-center">WHAT I CURRENTLY USE</h3>
      <p class="w3-center"><em>Inspired by <a href="http://wesbos.com/uses" target="_blank">Wes Bos Uses</a> page</em></p>
      <p>
        <dl>
          <dt>Editor + Terminal
          </dt>
          <dd>
            Visual Studio Code
          </dd>
          <dt>Desktop Apps</dt>
          <dd></dd>
          
        </dl>
      </p>
    </div>
    {{> components/footer.hbs }}
</body>

</html>
