<html>
<head>
   <title>Troy Forster</title>
   <meta name="description" content="Troy Forster" />
   <meta name="author" content="Troy Forster" />
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
   <link href="/stylesheets/main.min.css?rel=759625f4dd" rel="stylesheet" media="screen" />
   <!--if IE 7
      link(href="css/font-awesome-ie7.min.css", rel="stylesheet")-->
   <!--if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")-->
   <script src="/scripts/modernizr.min.js"></script>
</head>
<body>
   <div id="wrapper">
      <div id="sidebar">
         <a data-toggle="collapse" data-target=".nav-collapse" class="btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </a>

         <nav id="nav" role="navigation" class="navigation">
            <ul class="unstyled">
               <li data-section="1" class="active"><i class="icon-home"></i><span>Home</span></li>
               <li data-section="2"><i class="icon-user"></i><span>About</span></li>
               <li data-section="3"><i class="icon-laptop"></i><span>Projects</span></li>
               <li data-section="4"><i class="icon-pencil"></i><span>Social</span></li>
               <li data-section="5"><i class="icon-envelope"></i><span>Contact</span></li>
            </ul>
         </nav>
      </div>

      <div id="container">
         <section id="section1" data-section="1" class="section">
            <div class="container-fluid">
               <div class="row-fluid">
                  <div class="alt-image img-circle thumb"><img src="img/thumb.jpg" alt="Your Name" class="img-circle" /></div><div class="span6 intro"><hgroup><h1>Hello There!</h1><h3>I am the Director of Technology at an award winning advertising agency in Toronto, Canada.</h3></hgroup><button data-section="2" class="btn-inverse">Learn<span>More</span><i class="icon-circle-arrow-down"></i></button></div>
               </div>
            </div>
         </section>

         <section id="section2" data-section="2" class="section">
            <div class="container-fluid">
               <div class="row-fluid title">
                  <div class="span3">
                     <h2>About</h2>
                  </div>
                  <div class="span9 hidden-phone"><hr /></div>
               </div>

               <div class="row-fluid desc">
                  <div class="span8">
                     <p>I am actually an innovative thinker, way out of the box problem solver and creative technologist who currently moonlights as the Director of Technology at <a href="http://tbwa-toronto.com" rel="external">TBWA\Toronto. </a>I started out in 1977 coding on a <a href="http://en.wikipedia.org/wiki/TRS-80" rel="external">Trash80 </a>and have only ever looked forward since.</p>
                  </div>
               </div>

               
            </div>
         </section>

         <section id="section3" data-section="3" class="section">
            <div class="container-fluid">
               <div class="row-fluid title">
                  <div class="span4"><h2>Projects</h2></div>
                  <div class="span8 hidden-phone alt"><hr /></div>
               </div><div class="row-fluid desc">
                  <div class="span8">
                     <p>I am fortunate to work on a multitude of creative and innovative projects both for work and personal satisfaction. </p><p>This is just a random sample. To see more projects please visit my blog at <a href="http://blog.tforster.com/category/projects" rel="external">http://blog.tforster.com</a></p>
                  </div>
               </div>

               <div class="row-fluid content slide">
                  <div class="span4">
                     <h3 class="hidden-phone"><%-pageData.blog.projects[0].title%></h3>
                     <%-pageData.blog.projects[0].preview%>
                  </div>
                  <div class="span4">
                     <h3 class="hidden-phone"><%-pageData.blog.projects[1].title%></h3>
                     <%-pageData.blog.projects[1].preview%>
                  </div>
                  <div class="span4">
                     <h3 class="hidden-phone"><%-pageData.blog.projects[2].title%></h3>
                     <%-pageData.blog.projects[2].preview%>
                  </div>
               </div>
            </div>
         </section>
         <section id="section4" data-section="4" class="section">
            <div class="container-fluid">
               <div class="row-fluid title">
                  <div class="span4">
                     <h2>Social</h2>
                  </div>
                  <div class="span8 hidden-phone"><hr /></div>
               </div>
               <div class="row-fluid desc">
                  <div class="span8">
                     <p>Blogging is such an opportunity. I am sad to see people abandoning the chance to express, to connect, to build relationships. For me, the love of blogging (and what it means to me) is why I have been in the game so long. It is how I have met most of my current friends. It is how I have stayed sane when I was an employee, and how I center myself today as a creator.</p>
                  </div>
               </div>
               <div class="row-fluid content">
                  <div class="span4">
                     <ul class="article-tags">
                        <li data-blog="blog" class="current"><i class="icon-circle-arrow-right"></i>Blog</li>
                        <li data-blog="twitter"><i class="icon-circle-arrow-right"></i>Twitter </li>
                        <li data-blog="tumblr"><i class="icon-circle-arrow-right"></i>Tumblrs</li>
                        <li data-blog="instagram"><i class="icon-circle-arrow-right"></i>Instagram Photos</li>
                        <li data-blog="github"><i class="icon-circle-arrow-right"></i>GitHub Projects</li>
                     </ul>
                  </div>
                  <div data-blog="blog" class="span8 slide current">
                     <div class="row-fluid">
                        <div class="span6 expand">
                           <h4 style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"><%-pageData.blog.posts[0].title%></h4>
                           <%-pageData.blog.posts[0].preview%>
                           <div class="pull-right read-more">
                              <a href="http://blog.tforster.com<%=pageData.blog.posts[0].url%>" rel="external">Read More<i class="icon-double-angle-right"></i></a>
                           </div>
                        </div>
                        <div class="span6 visible-desktop">
                           <h4 style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"><%-pageData.blog.posts[1].title%></h4>
                           <%-pageData.blog.posts[1].preview%>
                           <div class="pull-right read-more">
                              <a href="http://blog.tforster.com<%=pageData.blog.posts[1].url%>" rel="external">Read More<i class="icon-double-angle-right"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div data-blog="twitter" class="span8 slide">
                     <div class="row-fluid">
                        <div class="span12 expand">
                           <h4>@tforster </h4>
                           <p>
                              Technology Director at TBWA\Toronto, idea factory, adventure racer, eco focused veggie animal lover, atheist, moralistic, highly social, sarcastic individual
                              <div id="bd" role="main">
                                 <div class="related recent-tweets">
                                    <% JSON.parse(pageData.twitter).forEach(function(tweet, n){%>
                                    <div class="tweet simple-tweet with-verbs dogear avatar-32">
                                       <div class="tweet-dogear"></div>
                                       <div class="tweet-image simple-tweet-image">
                                          <a href="https://twitter.com/intent/user?screen_name=<%=tweet.user.screen_name%>" rel="external" class="user-profile-link">
                                             <img src="<%=tweet.user.profile_image_url%>" alt="" width="32" height="32" />
                                          </a>
                                       </div>
                                       <div class="tweet-content simple-tweet-content normal">
                                          <div class="tweet-row">
                                             <span class="tweet-user-name">
                                                <a href="https://twitter.com/intent/user?screen_name=<%=tweet.user.screen_name%>" title="<%=tweet.user.screen_name%>" rel="external" class="tweet-screen-name user-profile-link"><%=tweet.user.screen_name%></a>
                                                <span class="tweet-full-name">@<%=tweet.user.screen_name%></span>
                                             </span>
                                             <div class="tweet-corner">
                                                <div class="tweet-meta">
                                                   <div class="icons">
                                                      <div class="extra-icons">
                                                         <span class="inlinemedia-icons"></span>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="tweet-row">
                                             <div class="tweet-text"><%=tweet.text%></div>
                                          </div>
                                          <div class="tweet-row">
                                             <a href="http://twitter.com/tforster/status/<%=tweet.id_str%>" title="<%=tweet.created_at%>" target="_blank" class="tweet-timestamp"><span class="_timestamp"><%=tweet.created_at%></span></a>
                                             <span class="tweet-actions">
                                                <a href="https://twitter.com/intent/tweet?in_reply_to=<%=tweet.id_str%>" rel="external" class="reply-action linksubmit">
                                                   <span><i></i><b>Reply</b></span>
                                                </a>

                                                <form action="https://twitter.com/intent/retweet?tweet_id=<%=tweet.id_str%>" method="post">
                                                   <div style="margin: 0; padding: 0;">
                                                      <input name="authenticity_token" type="hidden" value="a77d92442d5b6dc5ec9dff25e36bf89d579941ff" />
                                                   </div>
                                                   <input id="intent" name="intent" type="hidden" value="user" />
                                                   <a href="https://twitter.com/intent/retweet?tweet_id=<%=tweet.id_str%>" rel="external" class="retweet-action linksubmit">
                                                      <span><i></i><b>Retweet</b></span>
                                                   </a>
                                                </form>

                                                <form action="https://twitter.com/intent/retweet?tweet_id=<%=tweet.id_str%>" method="post">
                                                   <div style="margin: 0; padding: 0;">
                                                      <input name="_method" type="hidden" value="delete" />
                                                      <input name="authenticity_token" type="hidden" value="a77d92442d5b6dc5ec9dff25e36bf89d579941ff" />
                                                   </div>
                                                   <input id="intent" name="intent" type="hidden" value="user" />
                                                   <a href="https://twitter.com/intent/retweet?tweet_id=<%=tweet.id_str%>" rel="external" class="unretweet-action linksubmit">
                                                      <span><i></i><b>Undo Retweet</b></span>
                                                   </a>
                                                </form>

                                                <form action="https://twitter.com/intent/favorite?tweet_id=<%=tweet.id_str%>" method="post">
                                                   <div style="margin: 0; padding: 0;">
                                                      <input name="authenticity_token" type="hidden" value="a77d92442d5b6dc5ec9dff25e36bf89d579941ff" />
                                                   </div>
                                                   <input id="intent" name="intent" type="hidden" value="user" />
                                                   <a href="https://twitter.com/intent/favorite?tweet_id=<%=tweet.id_str%>" rel="external" class="favorite-action linksubmit">
                                                      <span><i></i><b>Favorite</b></span>
                                                   </a>
                                                </form>

                                                <form action="https://twitter.com/intent/favorite?tweet_id=<%=tweet.id_str%>" method="post">
                                                   <div style="margin: 0; padding: 0;">
                                                      <input name="_method" type="hidden" value="delete" />
                                                      <input name="authenticity_token" type="hidden" value="a77d92442d5b6dc5ec9dff25e36bf89d579941ff" />
                                                   </div>
                                                   <input id="intent" name="intent" type="hidden" value="user" />
                                                   <a href="https://twitter.com/intent/favorite?tweet_id=<%=tweet.id_str%>" rel="external" class="unfavorite-action linksubmit">
                                                      <span><i></i><b>Unfavorite</b></span>
                                                   </a>
                                                </form>

                                             </span>
                                          </div>
                                       </div>
                                    </div>
                                    <%})%>
                                 </div>
                              </div>
                           </p>
                        </div>
                     </div>
                  </div>

                  <div data-blog="tumblr" class="span8 slide">
                     <div class="row-fluid">
                        <div class="span6 expand">
                           <h4>TechSmarts</h4>
                           <p style="text-align: left;">Curated articles and links of a technical nature intended for software engineers and developers.</p>
                           <%pageData.tumblr.techsmarts.posts.forEach(function(post, n){%>
                           <p><a href="<%=post.url%>" rel="external"><%=post.title%></a></p>
                           <%});%>
                           <div class="pull-right read-more">
                              <a href="http://techsmarts.tumblr.com" rel="external">Read more on techsmarts <i class="icon-double-angle-right"></i></a>
                           </div>
                        </div>
                        <div class="span6 visible-desktop">
                           <h4>DigitalSmarts</h4>
                           <p style="text-align: left;">Curated articles and links of a less technical nature intended for digitally interested people in the account leadership and client services roles.</p>
                           <%pageData.tumblr.digitalsmarts.posts.forEach(function(post, n){%>
                           <p><a href="<%=post.url%>" rel="external"><%=post.title%></a></p>
                           <%});%>
                           <div class="pull-right read-more">
                              <a href="http://digitalsmarts.tumblr.com" rel="external">Read more on digitalsmarts <i class="icon-double-angle-right"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div data-blog="instagram" class="span8 slide">
                     <div class="row-fluid">
                        <div class="span6 expand">
                           <h4 style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"><%=pageData.instagram.posts[0].caption.text%></h4>
                           <p style="text-align: center;">
                              <a href="<%=pageData.instagram.posts[0].link%>" rel="external"><img src="<%=pageData.instagram.posts[0].images.low_resolution.url%>" title="<%=pageData.instagram.posts[0].caption.text%>" /></a>
                           </p>
                           <div class="pull-right read-more hidden-desktop">
                              <a href="http://instagram.com/tforster" rel="external">See more of my Instagrams<i class="icon-double-angle-right"></i></a>
                           </div>
                        </div>
                        <div class="span6 expand">
                           <h4 style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"><%=pageData.instagram.posts[1].caption.text%></h4>
                           <p style="text-align: center;">
                              <a href="<%=pageData.instagram.posts[1].link%>" rel="external"><img src="<%=pageData.instagram.posts[1].images.low_resolution.url%>" title="<%=pageData.instagram.posts[1].caption.text%>" /></a>
                           </p>
                           <div class="pull-right read-more hidden-desktop">
                              <a href="http://instagram.com/tforster" rel="external">See more of my Instagrams<i class="icon-double-angle-right"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div data-blog="github" class="span8 slide">
                     <div class="row-fluid">
                        <div class="span6 expand"><h4>tforster.com</h4><p>The source for this website</p><div class="pull-right read-more"><a href="https://github.com/tforster" rel="external">Read More<i class="icon-double-angle-right"></i></a></div></div><div class="span6 visible-desktop">
                           <h4>Vine Proxy</h4><p>vine-proxy is a simple NodeJS/Express based proxy for Twitter Vine requests. A sort-of reverse engineered Vine API we created at TBWA\Toronto</p><div class="pull-right read-more">
                              <a href="https://github.com/TBWAToronto/vine-proxy" rel="external">Read More<i class="icon-double-angle-right"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section id="section5" data-section="5" class="section">
            <div class="container-fluid">
               <div class="row-fluid title">
                  <div class="span4">
                     <h2>Contact</h2>
                  </div>
                  <div class="span8 hidden-phone alt"><hr /></div>
               </div>
               <div class="row-fluid content">
                  <div class="span4">
                     <h4 class="intro">Drop me a Line!</h4><p>Enough about me, let s hear about you. </p>
                     <div class="row-fluid alt"><h5>Email:</h5><span><a href="mailto:troy.forster@gmail.com" rel="external">troy.forster@gmail.com</a></span></div>
                     <div class="row-fluid alt"><h5>SMS:</h5><span><a href="sms:+14166174921">+1 416 617 4921</a></span></div>
                     <div class="row-fluid alt"><h5>Twitter:</h5><span><a href="http://www.twitter.com/tforster" rel="external">@tforster</a></span></div>
                     <div class="row-fluid alt"><h5>LinkedIn:</h5><span><a href="http://www.linkedin.com/in/tforster" rel="external">http://www.linkedin.com/in/tforster</a></span></div>
                  </div>
                  <div class="span8">
                     <div class="row-fluid">
                        <div class="span12">
                        </div>
                     </div>
                  </div>
                  <div id="footer">
                     <div class="row-fluid">
                        <div class="span12">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </div>
   </div>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
   <script src="/scripts/main.min.js?rel=759625f4dd"></script>
</body>
</html>