<!DOCTYPE html>
<html>

<head>
  <title>Troy Forster</title>
  <meta name="description" content="Troy Forster" />
  <meta name="keywords" content="" />
  <meta name="view" content="/app.html" />
</head>

<body>
  <!-- build:js /lib.js -->
  <!--<script src="/js/marked.min.js"></script>--> <!-- Copied from node_modules/marked. -->
  <!--<script src="/js/contentful.js"></script>--> <!-- Copied from node_modules/contentful. -->
  <script src="/js/app.js"></script>
  <!-- endbuild -->
</body>

</html>
