<!DOCTYPE html>
<html>

<head>
  <title>Hire Troy Forster</title>
  <meta name="description" content="Hire Me!" />
  <meta name="view" content="/hire-me.html" />
  <meta name="keywords" content="" />
  <% include partials/head.ejs %>
</head>

<body cz-shortcut-listen="true">
  <% include partials/header.ejs %>

    <div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
      <div class="w3-display-middle" style="white-space:nowrap;">
        <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">Hire Me!</span>
      </div>
    </div>

    <div class="w3-content w3-container w3-padding-64" id="about">
      <h3 class="w3-center">AVAILABLE FOR FREELANCE AND CONSULTING</h3>
      <p class="w3-center"><em>Insatiable passion for pushing technology boundaries in the pursuit of solutions to what others say is impossible</em></p>
      <p>
        <ul class="taglist">
          <li>alpine</li>
          <li>api</li>
          <li>application architecture</li>
          <li>arduino</li>
          <li>asp.net</li>
          <li>aws</li>
          <li>azure</li>
          <li>bash</li>
          <li>basic</li>
          <li>bluetooth</li>
          <li>c#</li>
          <li>c</li>
          <li>c++</li>
          <li>caas</li>
          <li>cli</li>
          <li>cms</li>
          <li>cordova</li>
          <li>creative technology</li>
          <li>css</li>
          <li>database architecture</li>
          <li>docker</li>
          <li>dynamodb</li>
          <li>dx</li>
          <li>ec2</li>
          <li>ecommerce</li>
          <li>ejs</li>
          <li>es6</li>
          <li>expressjs</li>
          <li>faas</li>
          <li>future-proofing</li>
          <li>git</li>
          <li>github</li>
          <li>hacking</li>
          <li>hardware</li>
          <li>html5</li>
          <li>ia</li>
          <li>iis</li>
          <li>jade</li>
          <li>jamstack</li>
          <li>java</li>
          <li>javascript</li>
          <li>json</li>
          <li>kiosk</li>
          <li>lambda</li>
          <li>leadership</li>
          <li>linux</li>
          <li>mentorship</li>
          <li>microservices</li>
          <li>mongodb</li>
          <li>ms-sql</li>
          <li>nginx</li>
          <li>nodejs</li>
          <li>nosql</li>
          <li>npm</li>
          <li>pascal</li>
          <li>performance</li>
          <li>phonegap</li>
          <li>prototyping</li>
          <li>raspberry pi</li>
          <li>rest</li>
          <li>s3</li>
          <li>saas</li>
          <li>security</li>
          <li>serverless</li>
          <li>soa</li>
          <li>solutions architecture</li>
          <li>sql</li>
          <li>swagger</li>
          <li>technical vision</li>
          <li>ux direction</li>
          <li>visual studio</li>
          <li>web api</li>
          <li>wireframing</li>
          <li>windows</li>
          <li>xml</li>
          <li>yaml</li>
        </ul>
      </p>


      <h4>Some Career Highlights</h4>
      <ul>
        <li>Built a hidden crystal radio into my school desk in grade 6</li>
        <li>Hacked a VAX VMS 11/750 in grade 10</li>
        <li>Published first code article in a British magazine in 1987</li>
        <li>Pioneered worlds first managed desktop environment in 1992</li>
        <li>Wrote a low-level Y2K checker in 1998 with more than 50,000 installations worldwide</li>
        <li>Created post 9/11 compliance middleware that parsed 100's of millions of dollars of foreign exchange transactions
          daily
        </li>
        <li>Launched a Pinterest-like social network in 2007</li>
        <li>Architected the worlds first light activated digital coupon (and it was 100% W3C compliant)</li>
        <li>Built an autonomous flying web-server, high precision linear clock and numourous other micro-electronic gadgets</li>
        <li>Built and managed technology teams with as many as 30 people</li>
      </ul>

      <h4>Companies, Clients and Brands</h4>
      <p>Some of the more recognizable companies, clients and brands I have been involved with include:</p>
      <ul>
        <li>Aird and Berlis</li>
        <li>Anheuser Busch</li>
        <li>Burson Marsteller</li>
        <li>Canon</li>
        <li>City of Toronto</li>
        <li>Gatorade</li>
        <li>GlaxoSmithKline</li>
        <li>Google</li>
        <li>Grammy Awards</li>
        <li>ILO</li>
        <li>Motorola</li>
        <li>Nissan</li>
        <li>Pepsi</li>
        <li>Petro Canada</li>
        <li>Pfizer</li>
        <li>Provice of Ontario</li>
        <li>Rogers</li>
        <li>Scotiabank</li>
        <li>Shoppers Drugmart</li>
        <li>Sun Microsystems</li>
        <li>TBWA</li>
        <li>TD</li>
        <li>Tories</li>
        <li>UNICEF</li>
        <li>Visa</li>
        <li>WestJet</li>
      </ul>
    </div>
    <% include partials/footer.ejs %>
</body>

</html>
