
<div class="vpage" id="hire-me">
  <div class="bgimg-hire-me w3-display-container">
    <div class="w3-display-middle" style="white-space:nowrap;">
      <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">Hire Me!</span>
    </div>
  </div>

  <div class="w3-content w3-container w3-padding-64" id="bodyContent">
    <h3 class="w3-center">AVAILABLE FOR FREELANCE AND CONSULTING</h3>
    <p class="w3-center"><em>Insatiable passion for pushing technology boundaries in the pursuit of solutions to what others say is impossible</em></p>
    <p class="w3-center"><strong>
      <a href="mailto:troy.forster@gmail.com" target="_blank" style="text-decoration: none"><i class="fa fa-envelope w3-hover-opacity"></i> troy.forster@gmail.com</a> <a href="tel:+14166174921" target="_blank"  style="text-decoration: none"><i class="fa fa-phone w3-hover-opacity"></i> +1-416-617-4921</a>    
    </strong></p>
    <ul class="taglist" id="taglist"></ul>
  </div>
</div>
