<div class="vpage" id="uses">
  <div class="bgimg-uses w3-display-container">
    <div class="w3-display-middle" style="white-space:nowrap;">
      <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">Uses</span>
    </div>
  </div>

  <div class="w3-content w3-container w3-padding-64">
    <h3 class="w3-center">WHAT I CURRENTLY USE</h3>
    <p class="w3-center"><em>Inspired by Wes Bos' <a href="http://wesbos.com/uses" target="_blank">Uses</a> page</em></p>
    <div class="w3-row-padding w3-margin-top" id="usesContentAnchor"></div>
  </div>
</div>
