<div class="grid-list-items__item blog-card">
  <div class="blog-card__header">
    <div class="blog-card__cat-links">
      <a href="https://www.dreamhost.com/r.cgi?287326">Hardware</a>
    </div>
    <h3 class="blog-card__title"><a href="https://www.dreamhost.com/r.cgi?287326">Worlds First Sun Activated Mobile Coupon</a></h3>
  </div>
  <div class="blog-card__text">
    <p>
      The size of the discount in this mobile coupon is tied directly to the intensity of the sunlight it is exposed to.

      The Challenge\n\nThe creative team on the Zealios account wanted a unique new way of providing product discounts on mobile
      devices.\n\n#### The solution\n\nI determined that a native application was out of the question because there was not a
      significant
      enough marketing budget to drive the number of downloads that would be required. Instead, a low barrier to entry was needed
      which
      can be achieved using typical web delivery.\n\nIn keeping with the phylosophy I promote the solution could not use any
      proprietary
      plugins and must be standards compliant. Fortunately Mozilla Firefox had implemented support for the [W3C ambient light
      sensor](https://www.w3.org/TR/2012/WD-ambient-light-20120802/) which meant it would be possible to detect light intensity
      measured
      in Lux.\n\nThe theory was tested by creating a single page that constantly polled the light sensor API and displayed the
      current lux
      value. My team then loaded this page on a variety of Android devices running Firefox and sampled light from numerous locations
      including indoors, outside in bright sun, outside on cloudy days and outside in the shade. The collated data not only
      confirmed the
      technical approach but it also gave us the threshold numbers to trigger the coupon.\n\n__Note: The ambient light sensor was
      intended
      by the W3C to be used in responsive web sites to serve different contrast stylesheets depending upon how bright the
      surrounding
      light is. It detects light intensity not wavelength and does not provide a measurement of ultraviolet or UV index. While
      perfect for
      a marketing gimmick this lack of UV detection bothered me enough to explore and build a [personal UV
      gauge](https://d2ajvvqj1r3ayh.cloudfront.net/portfolio/personal-bluetooth-uv-gauge-and-ios-companion-app)__\n\n

      \n\n#### Media
      Hits\n\nThe Worlds First Sun Activated Mobile Coupon was a big hit with mentions on
      [Mashable](http://mashable.com/2014/07/23/zealios-coupon-sunlight/#p5fbxdHicsqw) and numourous other sites and was shortlisted
      for
      some awards.\n\n* https://digiday.com/marketing/performance-sunscreen-brand-zealios-launches-sun-activated-discount-coupon/\n*
      https://www.youtube.com/watch?v=5zpmEoiq8X4\n* https://www.youtube.com/watch?v=RvRw--WYdRQ\n*
      https://adsoftheworld.com/media/online/zealios_sun_activated_coupon\n*
      http://creativity-online.com/work/zealios-skin-care-sun-activated-coupon/36473\n*
      http://www.webbyawards.com/winners/2015/advertising-media/websites-micro-sites-and-rich-media/health-wellness-pharmaceutical/sun-activated-coupon/\n*
      http://www.adweek.com/digital/use-sun-activated-coupon-android-get-discounted-sunscreen/\n*
      https://www.appliedartsmag.com/winners_gallery/interactive/?id=812&year=2015&clip=5\n\n"


    </p>
  </div>
</div> <!-- end blog-card -->