<div class="row s-clients__content-block width-sixteen-col">
  <div class="column xl-12">

    <div class="clients-list">
      <div class="clients-list__item">
        <a href="https://www.visa.ca/en_CA">
          <img src="media/clients/visa.svg" alt="">
        </a>
      </div>
      <div class="clients-list__item">
        <a href="https://gs1ca.org/">
          <img src="media/clients/GS1-Canada.svg" alt="">
        </a>
      </div>
      <div class="clients-list__item">
        <a href="https://www.national.ca/en/">
          <img src="media/clients/NationalPR.svg" alt="National Public Relations">
        </a>
      </div>
      <div class="clients-list__item">
        <a href="https://www.iqoffices.com/">
          <img src="media/clients/iqoffices.svg" alt="iQ Offices">
        </a>
      </div>
      <div class="clients-list__item">
        <a href="https://juniperparktbwa.com/">
          <img src="media/clients/tbwa.svg" alt="TBWA\Toronto">
        </a>
      </div>
      <div class="clients-list__item">
        <a href="https://www.stjoseph.com/">
          <img src="media/clients/sjc.svg" alt="SJC">
        </a>
      </div>
      <div class="column clients-list__item">
        <a href="https://www.nissan.ca/">
          <img src="media/clients/nissan-canada.svg" alt="Nissan Canada">
        </a>
      </div>
      <div class="column clients-list__item">
        <a href="https://www.infiniti.ca/">
          <img src="media/clients/infiniti.svg" alt="Infiniti Canada">
        </a>
      </div>
      <div class="clients-list__item">
        <a href="#0">
          <img src="media/clients/terra.svg" alt="">
        </a>
      </div>
      <div class="clients-list__item">
        <a href="#0">
          <img src="media/clients/chain.svg" alt="">
        </a>
      </div>
    </div> <!-- end clients-list -->

  </div> <!-- end column -->
</div> <!-- end row -->