<div class="row s-clients__content-block width-sixteen-col">
  <div class="column xl-12">
    <div class="clients-list">
      {{#each clients}}
        <div class="clients-list__item">
          <a href="{{this.website}}">
            <img loading="lazy" src="{{this.logo}}" alt="{{this.name}}" title="{{this.name}}" class="svg-logo">
          </a>
        </div>
      {{/each}}
    </div>
  </div>
</div>