<section id="cta" class="s-cta">
  <div class="row row-x-center text-center">
    <div class="column xl-8 lg-12">
      <div class="s-cta__content">
        <h2 class="text-display-title">
          Get started with a consultation today.
        </h2>
        <p class="lead">
          Let's discuss your goals and explore how I can help you achieve them. Schedule a personalized consultation today and
          discover how my expertise can transform your business.
        </p>
        <a href="contact.html" class="btn btn--primary">Let's Work Together</a>
      </div>
    </div>
  </div>
</section>