<section id="content" class="s-content">
  <section class="s-pageheader pageheader">
    <div class="row">
      <div class="column xl-12">
        <h1 class="page-title">
          <span class="page-title__small-type text-pretitle">{{pageTitle}}</span>
          {{pageSubTitle}}
        </h1>
      </div>
    </div>
  </section>