<!DOCTYPE html>
<html>

<head>
  <meta {{that}}>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Troy Forster" />

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

  <!-- build:css /stylesheet.css -->
  <link rel="stylesheet" href="/css/w3.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/icons.css" />
  <!-- endbuild -->

  {{#> head-block}}
  {{!-- Custom <head> content per page could be added. --}}
  {{/head-block}}
</head>

<body cz-shortcut-listen="true">
  {{#> header-block}}
  {{!-- Custom <head> content per page could be added. --}}
  {{>header.hbs}}
  {{/header-block}}

  <div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
    <div class="w3-display-middle" style="white-space:nowrap;">
      <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">{{title}}</span>
    </div>
  </div>

  {{#> body-block}}{{/body-block}}

  {{#> footer-block}}
  {{!-- Custom <head> content per page could be added. --}}
  {{>footer.hbs}}
  {{/footer-block}}

</body>

</html>
