<!DOCTYPE html>
<html>

<head>
  <title>Portfolio for Troy Forster</title>
  <meta name="description" content="Portfolio for Troy Forster">
  <meta name="view" content="/portfolio.html" />
  <meta name="keywords" content="">
  <% include ../_includes/head.ejs %>
</head>

<body cz-shortcut-listen="true">
  <% include ../_includes/header.ejs %>

    <div class="bgimg-2 w3-display-container w3-opacity-min" id="home">
      <div class="w3-display-middle" style="white-space:nowrap;">
        <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">Portfolio</span>
      </div>
    </div>

    <div class="w3-content w3-container w3-padding-64" id="portfolio">
      <h3 class="w3-center">MY WORK</h3>
      <p class="w3-center"><em>A sample of personal and non-proprietary work projects</em></p>

      <div class="w3-row-padding w3-margin-top" id="thumbViewPortfolio">
        <%
          products.map(product=>{
            
              product.src= src;
              product.dest=dest;
              product.template='/_portfolio-product.ejs';
              product.fileName = product.slug;
            
            _renderFile(product);
          %>

          <%- include('_product-thumbnail.ejs',product) %>  
        <%})%>
      </div>
    </div>

    <% include ../_includes/footer.ejs %> 

</body>

</html>
